:root {
    --dark-navy: #020c1b;
    --navy: #0a192f;
    --light-navy: #112240;
    --lightest-navy: #233554;
    --navy-shadow: rgba(2,12,27,0.7);
    --dark-slate: #495670;
    --slate: #8892b0;
    --light-slate: #a8b2d1;
    --lightest-slate: #ccd6f6;
    --white: #e6f1ff;
    --green: #64ffda;
    --green-tint: rgba(100,255,218,0.1);
    --pink: #f57dff;
    --blue: #57cbff;
    --font-sans: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    --font-mono: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    --fz-xxs: 12px;
    --fz-xs: 13px;
    --fz-sm: 14px;
    --fz-md: 16px;
    --fz-lg: 18px;
    --fz-xl: 20px;
    --fz-xxl: 22px;
    --fz-heading: 32px;
    --border-radius: 4px;
    --nav-height: 100px;
    --nav-scroll-height: 70px;
    --tab-height: 42px;
    --tab-width: 120px;

}
* {
    background-color: var(--light-navy);
    font-family: var(--font-mono) ;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    line-height: 1.3;
}
header a{
    padding: 10px;
    color: var(--lightest-slate);
}

a {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink:auto;
    position: relative;
}

header ol{
    display: flex ;
    justify-content: center;
    list-style: none;

}

.resume {
    color: var(--green);
    /*border: 1px solid var(--green);
    border-radius: var(--border-radius);*/
}

header a:hover{
    color: var(--green);
}

header{
    top: 0px;
    z-index: 11;
    width: 100%;
    height: var(--nav-height);
    margin: 20px 20px;
    padding: 20px 50px;
    
}

@media(max-width: 1080px){
    header{
        padding: 0px 40px;
        margin-right:50px ;
    }
}

@media(min-width: 768px){
    header{
        padding: 0px 25px;
    }
}

header .logo{
    width: 20%;
}

/*             Intro section                */
@media(max-width:1080px){
    main{
        padding: 200px 100px;
    }
}

.home{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    height: 100vh;
    padding: 0px;
}

.home h1{
    margin: 0px 0px 30px 4px;
    color: var(--green);
    font-family: var(--font-mono);
    font-size: clamp(var(--fz-sm), 5vw, var(--fz-md));
    font-weight: 400;
    line-height: 1.1;
}

section{
    margin: 0px auto;
    max-width: 1000px;


}

.home h2{
    color: var(--light-slate);
    font-size: var(--fz-heading);
    line-height: 1.1;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h1, h2, h3,h4,h5,h6{
    margin: 0px Opx 10px;
    font-weight: 600;
    line-height: 1.1;
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    marg
}